.ContenidoAlumno {
    flex-direction: column;
    height: 100vh;
    /* Ocupa toda la altura de la pantalla */
    width: 100vw;
    /* Ocupa todo el ancho de la pantalla */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #79AC78;
}
.SubContenidoAlumno {
    margin-top: 100px;
    background-color: #B0D9B1;
}


.Tabla-Alumnos {
    width: 100vw;
}

.Titulos-Alumnos {
    background-color: #618264;
    color: black;
    height: 40px;
}

.Relleno-Alumnos {
    background-color: #D0E7D2;
    width: 100vw;
    height: 50px;
    margin-right: 0px;
}
.Relleno-Boton {
    height: 10px;
    background-color: #D0E7D2;
    
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 10px;/* Espacio entre los botones */}