.Contenido {
    margin: 100px;
    margin-top: 100px;
    /* Agregamos margen superior para evitar colisión con el encabezado */
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #618264;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.App{
    background-color: gray;
}