.ContenidoLogin{
    flex-direction: column;
    height: 100vh;
    /* Ocupa toda la altura de la pantalla */
    width: 100vw;
    /* Ocupa todo el ancho de la pantalla */
    position: absolute;
    top: 0;
    left: 0;
    background-color: #79AC78;
}
.LoginTable{
    /* Agregamos margen superior para evitar colisión con el encabezado */
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #618264;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}