.fixed-header-profesor {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #7f81f7; /* Fondo azul/gris */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.5px solid white;
  z-index: 10000;
  font-family: 'Montserrat', sans-serif; /* Nueva fuente Montserrat */
}

.left-corner-profesor {
  margin-left: 10px;
}

.right-corner-profesor {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.right-corner-profesor a {
  background-color: #d8d9fa; /* Fondo azul/gris */
}

.center-content-profesor {
  flex: 1;
  text-align: center;
  font-size: 24px;
  color: #002366; /* Color azul oscuro */
}

.fixed-header-profesor p {
  font-size: 48px;
  color: black; /* Color azul oscuro */
}

.boton-header-profesor {
  background-color: #B1B2FF; /* Verde */
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 25px;
  cursor: pointer;
  margin-right: 10px;
}