@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.ContenidoHomeProfesor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #aac4ff; /* Fondo azul claro */
    align-items: center;
    justify-content: center;
}

.SubContenidoProfesorCurso {
    margin-top: 130px;
    background-color: #e0e7ff; /* Fondo azul muy claro */
    width: 90%;
    max-width: 1200px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.SubContenidoProfesorCurso h2 {
    font-size: 2.5em;
    color: #002366; /* Azul oscuro */
    margin-bottom: 20px;
    text-align: center;
}

.tabla-container-profesor {
    width: 100%;
    border: 5px solid #002366; /* Borde azul oscuro */
    overflow-y: auto;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.tabla-container-profesor table {
    width: 100%;
    background-color: #eef1ff; /* Azul muy claro */
    border-collapse: collapse;
}

.tabla-container-profesor thead tr {
    background-color: #002366; /* Azul oscuro */
    font-size: 1.5em;
    height: 50px;
    color: white; /* Texto blanco */
    text-align: center;
}

.tabla-container-profesor tbody {
    background-color: #eef1ff; /* Azul muy claro */
}

.tabla-container-profesor tbody td, .tabla-container-profesor tbody th {
    padding: 10px;
    text-align: center;
}

.tabla-container-profesor tbody button {
    width: 100%;
    height: 75px;
    background-color: #aac4ff; /* Azul claro */
    font-size: 1.25em;
    color: #002366; /* Azul oscuro */
    border: 2px solid #002366; /* Borde azul oscuro */
    border-radius: 10px; /* Bordes redondeados */
}

.tabla-container-profesor tbody button:hover {
    background-color: #002366; /* Azul oscuro */
    color: #ffffff; /* Texto blanco */
}

@media (max-width: 768px) {
    .ContenidoHomeProfesor {
        width: 100%;
    }

    .tabla-container-profesor {
        width: 100%;
        height: auto;
    }

    .tabla-container-profesor table th,
    .tabla-container-profesor table td {
        padding: 8px;
    }
}
